

{% block content %}



<footer class="container-xxl">
    <div class="footer-upper-section">
        <div class="footer-left">
            <h4>Join our fitness club</h4>
            <p>Subscribe for expert tips, workout plans, and wellness updates delivered straight to your inbox.</p>
           
            <div class="form-footer">
                <form action="">
                    <input type="email" name="email" id="email">
                </form>
                <button>Subscribe</button>
            </div>
            <p>By clicking Subscribe Now, you agree to our Terms and Conditions.</p>
        </div>
        <div class="footer-right">
            <div class="footer-products">
                <h4>PRODUCTS</h4>
                <a href="#">Browse</a>
                <a href="#">Shop</a>
            </div>
            <div class="footer-info">
                <h4>INFO</h4>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Reviews</a>
            </div>
            <div class="footer-social">
                <h4>SOCIAL</h4>
                <a href="#">Instagram</a>
                <a href="#">Ticktok</a>
                <a href="#">Pintrest</a>
            </div>
        </div>
    </div>
    <div class="footer-mid">
        <h1>PHOEBE MEET</h1>
        
    </div>
    <div class="footer-bottom">
        <p>© 2024, Sevaria. </p>
        <div class="footer-links">
            <a href="#" >Privacy Policy </a>
            <a href="#">Terms and Conditions. </a>
        </div>
        
        
    </div>
</footer>
    
    

{% endblock content %}