{% load static %}
{% block content %}

<header>
  <nav  id="navbar" class="navbar">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="{% url 'home' %}">
                <div class="Logo">
                    <svg width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M37.2 0H0C2.7 0.6 4.59999 3 4.59999 5.7V39.3C8.29999 35.6 10.3 30.7 10.3 25.5V6.7C10.3 6.2 10.7 5.7 11.3 5.7C11.8 5.7 12.3 6.1 12.3 6.7V31.7C16 28 18 23.1 18 17.9V6.7C18 6.2 18.4 5.7 19 5.7C19.5 5.7 20 6.1 20 6.7V24.1L25 19.1C25.2 18.9 25.3 18.7 25.4 18.5V18.4C25.6 18.1 25.6 17.8 25.7 17.4C26.2 10.9 31.6 5.7 38.3 5.7H43L37.2 0Z" fill="#FCF9E8"/>
                    </svg>
                </div>
            </a>
        </div>

        <!-- Spacer between logo and sign-in button -->
        <div class="ms-auto d-flex align-items-center"> <!-- Add ms-auto to push content to the right -->
            <div class="nav-holder">
                <ul class="nav-holder">
                    <li class="nav-item">
                        <button class="signInBtn"> Sign In</button> <!-- Add some margin-right -->
                    </li>
                    <li class="nav-item">
                        <button class="menuBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>  
  </nav>

  <div class="nav-menu">
    <div class="nav-menu-top">
        <div class="Logo">
            <svg width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.2 0H0C2.7 0.6 4.59999 3 4.59999 5.7V39.3C8.29999 35.6 10.3 30.7 10.3 25.5V6.7C10.3 6.2 10.7 5.7 11.3 5.7C11.8 5.7 12.3 6.1 12.3 6.7V31.7C16 28 18 23.1 18 17.9V6.7C18 6.2 18.4 5.7 19 5.7C19.5 5.7 20 6.1 20 6.7V24.1L25 19.1C25.2 18.9 25.3 18.7 25.4 18.5V18.4C25.6 18.1 25.6 17.8 25.7 17.4C26.2 10.9 31.6 5.7 38.3 5.7H43L37.2 0Z" fill="#FCF9E8"/>
            </svg>
        </div>

        <div class="nav-menu-close-button">
            <button class="nav-menu-closeBtn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="23" height="23" stroke="white"/>
                    <path d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z" fill="white"/>
                </svg>

            </button>
            
        </div>
    </div>
    <div class="nav-menu-holder">
        <div class="nav-menu-left">
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <h2>WORKOUTS</h2>
                    <ul>
                        <li>PHOEBE CLUB</li>
                        <li><a href="{% url "session" %}">SESSIONS</a></li>
                    </ul>
                </li>
                <li>
                    <h2>INFO</h2>
                    <ul>
                        <li><a href="{% url "about" %}">ABOUT PHOEBE</a></li>
                        <li>REVIEWS</li>
                    </ul>
                </li>
                <li>SHOP</li>
                <li>SIGN IN</li>
                
                
            </ul>

            <p>Experience personalized training that adapts to your unique goals. Join us to unlock your potential and achieve lasting results.</p>
        </div>
        <div class="nav-menu-right">
            <video src="{% static 'video/mov_bbb.mp4' %}"></video>
            <h2>Transform your fitness journey today</h2>
        </div>

    </div>
    
</div>
</header>

{% endblock content %}
